.Layout {
  padding: 0 7.5rem;
  width: 100%;
}

@media screen and (width >= 1441px) {

  .Layout {
    padding: 0 12rem;
  }
}

@media screen and (width <= 1440px) {

  .Layout {
    padding: 0 7.5rem;
  }
}

@media screen and (width <= 1023px) {

  .Layout {
    padding: 0 3.875rem;
  }
}

@media screen and (width <= 767px) {

  .Layout {
    padding: 0 5.25rem;
  }
}

@media screen and (width <= 425px) {

  .Layout {
    padding: 0 1.25rem;
  }
}
