.nft-card-page {
  padding: 7rem 2rem 2.5rem;
  gap: 1rem;

  .picture {
    padding: 0.5rem 4.5rem 0.5rem 0.5rem;
    background-color: var(--g-900);
    border-radius: 1rem;
    height: 43.5rem;
    min-width: 31.25rem;
    position: sticky;
    top: 100px;
  }

  .HeightRes {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;
  }

  .wrapper {
    position: absolute;
    right: 0;
    top: 0;
  }

  .details {
    min-width: 54.75rem;
  }
}

@media screen and (width <= 480px) {

  body {
    width: max-content;
  }

  .nft-card-page {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 1rem 0 1.5rem;

    .nft-card-page>* {
      width: 100vw;
    }

    .picture {
      top: 0;
      min-width: unset;
      width: 25rem;
      height: auto;
      padding: 1.5rem;
      position: initial;
    }

    .HeightRes {
      top: 10rem;
      right: 1rem;
    }

    .details {
      min-width: unset;
      width: 25rem;
      z-index: 10000;
    }
  }
}