@import "src/app/styles/fonts";

.filterSidebarWrapper {
  position: sticky;
  top: 100px;
}

.Wrapper {
  padding: 24px;
  height: 100%;
  min-height: 57.5rem;
  background: var(--g-900);
  border-radius: 16px;
  width: 20.625rem;
  animation: transform-close 0.5s;
}

.open {
  width: 20.625rem;
  animation: transform-open 0.5s;
  opacity: 1;
}

@keyframes transform-open {

  0% {
    width: 0;
    opacity: 0;
  }

  100% {
    opacity: 1;
    width: 20.625rem;
  }
}

@keyframes transform-close {

  0% {
    width: 20.625rem;
    opacity: 1;
  }

  100% {
    width: 0.2rem;
    opacity: 0;
  }
}